@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/***********************************************
  Global stylesheet
 ***********************************************/

* {
  padding: 0;
  margin: 0;
  font-family: Fira sans;
}

html {
  font-size: 100%;
}
body {
  max-width: 100rem;
  margin: 0 auto;
}

h2.mainTitles {
  color: #e92d28;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 2.37rem;
  font-weight: 600;
}

p {
  text-align: justify;
  margin-bottom: 1.5rem;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.button-primary {
  color: black;
  font-weight: 400;
  background-color: rgb(222, 222, 222);
  border-color: rgb(222, 222, 222);
  text-align: center;
  border-radius: 1rem;
  padding: 0.72rem 2rem;
  margin-top: 1rem;
  border-style: solid;
}
.button-primary:hover {
  cursor: pointer;
  background-color: #e92d28;
  color: #f4f4f5;
}
.button-primary:disabled {
  background-color: darkgray;
  color: #e92d28;
}
/***********************************************
  NavBar stylesheet
 ***********************************************/

nav {
  padding: 1rem 2rem;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.06rem;
}

.menuItem {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#logo {
  font-weight: bold;
  color: #e92d28;
}

/***********************************************
  Header stylesheet
 ***********************************************/

.Container {
  background-color: #f4f4f5;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem;
  padding: 1rem;
  border-radius: 1.5rem;
}
.foodImageDiv {
  width: 50%;
}

.foodImageDiv > img {
  border-radius: 1.5rem;
  width: 100%;
  height: auto;
  display: block;
}

.recipeContent {
  width: 50%;
  line-height: 1.5rem;
  font-size: large;
  font-weight: 400;
  padding-left: 1rem;
  padding-right: 1rem;
}
.ingredientsList {
  width: 50%;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 2rem;
  list-style-type: disc;
}
.ingredientsList > li {
  display: flex;
  justify-content: space-between;
  font-weight: 450;
  gap: 2rem;
}

.recipeDescription {
  margin-top: 1.5rem;
}

.formStyle {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.formItemsContainer {
  display: none;
  background-color: #f4f4f5;
  margin: auto;
  max-width: 50%;
  border-radius: 1rem;
  flex-direction: column;
}
.formRow {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.formInput {
  width: 50%;
  height: 2rem;
}
#descriptionArea {
  height: 5rem;
}
.addIng {
  text-align: left;
  margin-left: 2rem;
}

#formBtnRow {
  text-align: center;
}
#ingredientsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ingInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.btnMouseOver {
  background-color: #e92d28;
  color: white;
}
.btnMouseOut {
  background-color: lightgray;
  color: black;
}
/* *****************recipes page - grid ***************** */
/* **************************************************** */

.titleBox {
  background-color: rgb(231, 230, 230);
  height: 20rem;
  color: black;
  text-align: center;
  padding-top: 5rem;
}
.heroMessage {
  color: rgb(36, 36, 36);
  font-size: large;
  font-weight: 400;
  margin-top: 5rem;
  text-align: center;
}

#cards-container {
  max-width: 1000px;
  margin: auto;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1rf 1rf;
  gap: 3rem;
  position: relative;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}

.card-picture {
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  background-position: center;
}

.card-picture .card-img {
  width: 100%;
  box-sizing: border-box;
}

.card-category {
  color: #e92d28;
  font-size: medium;
  font-weight: bold;
  margin-top: 1rem;
}
.card-title {
  font-size: larger;
  font-weight: 700;
  color: black;
  /* margin-top: 23px; */
}
.card-title:hover {
  color: #e92d28;
}

.moreInfo {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  gap: 1rem;
  position: relative;
  margin-top: 1rem;
}

.card-ing{
  color:#e92d28;
  font-size: small;
  font-weight: 400;
  /* margin-top: 1rem; */
/* margin-left: 1 rem; */
}

.cardCookTime{
  color:#e92d28;
  font-size: small;
  font-weight: 400;
  /* margin-top: 1rem; */
  
}

.inputStyle{
  border: #f4f4f5;
  border-radius: 2rem;
  color: #e92d28;
  width: 20rem;
  height: 1rem;
  padding: 1rem;
}


.sortContainer{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* ***************** Timer Box styles ***************** */
/* **************************************************** */


#timeContainer{
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  background-color: white;
}
#timeInput{
  font-size: 2rem;
  border-radius: 1rem;
  height: 3rem;
  width: 6rem;
  text-align: center;
  
}
#timeLable{
  font-size: 2rem;
}
#timeDisplay{
  font-size: 3rem;
  color: #e92d28;
}